.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 60px;
    
    
}

.cartContent {
    grid-column: 1 / 9;
}

.checkoutContent {
    grid-column: 10 / 12;
    border: 2px solid grey;
    padding: 30px;
    text-align: left;
}