.checkout-page-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid lightgray;
    /* background-color: rgb(247, 243, 243); */
    padding: 50px;
    border-radius: 10px;
    column-gap: 10px;    
}

.title {
    text-align: left;

}

label {
    font-size: 0.85rem;
    /* display: flex; */
    text-align: left;
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
    margin-top: 20px;
   
  }

.radio {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    
}

.paypal {
    margin-top: 3px;
}

.credit {
    margin-top: 3px;
}

.radio label {
    margin-left: 25px;
    margin-top: 0px;
}

form {
    display: grid;
    width: 400px;
}

.btn-submit {
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
}

.info-box {
    background-color: rgb(213, 221, 230);
    padding: 30px;
    border-radius: 10px;
}

.img-paypal {
    background-color: darkgrey;
}

/* .label-input {
    text-align: left;
    display: inline-block;
} */



input[type="email"],
input[type="text"],
input[type="number"] {
  padding: 0.1rem 0.2rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid darkgrey;
  /* margin-bottom: 10px; */
}

.credit-info {
    display: flex;
    text-align: left;
    margin-top: 20px;
}

.credit-info input {
    width: 160px;
}

.error {
    font-size: 0.75rem;
    text-align: left;
    color: red;    
    margin: 0;
}

.credit-info-error {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;  */
    /* text-align: left; */
}

.ccv{
    margin-left: 12px;
}

.ssl-message {
    font-size: 0.75rem;
    text-align: left;
}