.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    margin: 30px auto 30px;
    border: 2px solid rgb(189, 186, 186);
    /* margin-bottom: 30px;
    margin-top: 30px; */
    width: 700px;
    padding: 30px;
    grid-gap: 50px;
}

.product-infos {
    text-align: left;
    /* align-content: center; */
    margin-top: 30px;
}

.btn-my-add {
    background-color: black;
    color: white;
    border-radius: 0%;
    font-size: 8px;
    padding: 5px 10px;
    border: 0.2px solid black;
    margin: 5px;
    transition: 0.2s;
    width: 40%;
    cursor: pointer;
}

.btn-my-add:hover {
    background-color: lightgrey;
    color: black;
}

/* .btn-my-add:active, .btn-my-add:focus {
    border: 1px red solid;
} */

.btn-add-more {
    background-color: white;
    color: black;
    border-radius: 0%;
    font-size: 8px;
    padding: 5px 10px;
    border: 0.2px solid black;
    margin: 5px;
    transition: 0.2s;
    /* width: 74px; */
    width: 40%;
    cursor: pointer;
}

.btn-add-more:hover {
    background-color: black;
    color: white;  
}

.responsive {
    width: 100%;
    max-width: 350px;
    height: auto;
  }