.checkoutContent {
    
    border: 2px solid rgb(172, 169, 169);
    padding: 30px;
    text-align: left;
    min-width: 250px;
}

p {
    color: rgb(138, 135, 135);    
}

.buttonsDiv {
    border-top: 2px solid rgb(138, 135, 135);
    padding-top: 30px;

}

.btn-checkout {
    color: white;
    background-color: black;
    border: none;
    font-size: 12px;
    padding: 15px;
    text-transform: uppercase;
}

.btn-clear {
    background-color: white;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    padding: 15px;
    color: rgb(102, 100, 100);
    
    

}

