

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px; 
    
    
}

.ul {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
}

li {
    color: black;
}

.cartLogo {
    margin-right: 8px;
}