.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px; 
    
}

.ul {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}