.my-card {
    margin: 0 10px 10px;
}

.my-card p {
   color: rgb(129, 120, 120); 
   font-size: 14px;
}

.btn-my-add {
    background-color: black;
    color: white;
    border-radius: 0%;
    font-size: 8px;
    padding: 5px 10px;
    border: 0.2px solid black;
    margin: 5px;
    transition: 0.2s;
    /* width: 74px; */
    width: 50%;
}

.btn-my-add:hover {
    background-color: lightgrey;
    color: black;
}

.btn-add-more {
    background-color: white;
    color: black;
    border-radius: 0%;
    font-size: 8px;
    padding: 5px 10px;
    border: 0.2px solid black;
    margin: 5px;
    transition: 0.2s;
    /* width: 74px; */
    width: 50%;
}

.btn-add-more:hover {
    background-color: black;
    color: white;  
}

.btn-myDetails
{
    background-color: lightgrey;
    color: black;
    border-radius: 0%;
    font-size: 8px;
    padding: 5px 10px;
    border: 0.2px solid lightgrey;
    margin: 5px;
    transition: 0.2s;
}

.btn-myDetails a {
    color: black;
}

.btn-myDetails a:hover {
    color: black;
}


.btn-myDetails:hover {
    border: 0.2px solid black;
}

.les-boutons {
    display: flex-end;
    justify-content: space-around;
}


