@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  /* padding: 40px; */

}

